@font-face {
  font-family: "04b03";

  src: url("./fonts/04b03.woff") format("woff"),
    url("./fonts/04b03.woff2") format("woff2");
}

*{
  position: fixed;
}

body {
  background: #eee;
}

h1 {
  font-family: '04b03';
}

canvas {
  width: 100vmin;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
  background: #fff;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
